.insturctionBack {
  background-image: linear-gradient(252deg, #452D5C 0%, #452F65 45%, #302A51 100%);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
